<div class="mt-4">
  <div>
    <a href="/me/stored/courses" class="text-decoration-none d-flex">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-arrow-bar-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"
        />
      </svg>
      My Courses
    </a>
    <h3>My Recycle Bin</h3>
  </div>
  <table class="table mt-4">
    <thead class="thead-light">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col" colspan="2">Create At</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td scope="row">{{sum @index 1}}</td>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a
              href=""
              class="btn btn-primary btn-restored"
              data-bs-id="{{this._id}}"
            >Restore</a>
            <a
              href=""
              data-bs-toggle="modal"
              data-bs-target="#delete-course-model"
              class="btn btn-danger"
              data-bs-id="{{this._id}}"
            >Permanently Delete</a>
          </td>
        </tr>
      {{else}}
        <tr class="">
          <td colspan="6" class="text-center">
            No courses have been deleted.
            <a href="/me/stored/courses">Back</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Confirm Delete -->
<div
  class="modal fade"
  id="delete-course-model"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Course</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        This action cannot be restored. Would you still like to delete this course?
      </div>
      <div class="modal-footer">
        <button
          id="btn-delete-course"
          type="button"
          class="btn btn-danger"
        >Permanently Delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>

<form method="post" name="deleteCourseForm"></form>
<form method="post" name="restoreCourseForm"></form>

<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>

<script>
  const deleteModal = document.getElementById('delete-course-model') 
  //When click the button "Delete", it open the modal
  deleteModal.addEventListener('show.bs.modal', event => { 
    const button = event.relatedTarget;
    const id = button.getAttribute('data-bs-id'); 
    const deleteForm = document.forms['deleteCourseForm'];
    
    var btnDeleteCourse = document.getElementById('btn-delete-course');
    //When delete course btn clicked
    btnDeleteCourse.onclick = function(){ 
      deleteForm.action = '/courses/' + id + '/force?_method=DELETE'; 
      deleteForm.submit(); 
    } 
  });
  
  const restoreForm = document.forms['restoreCourseForm'];
  const btnRestored = $('.btn-restored')
  btnRestored.click(function(e){
    e.preventDefault();
    var courseId = $(this).data('bs-id')
    restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'; 
    restoreForm.submit(); 
  })
</script>